body {
  background-color: antiquewhite;
}

ul {
  list-style: none;
  padding: 0;
}

.title {
  margin-top: 40px;
  padding-left: 24px;
  font-size: larger;
}

.content {
  display: flex;
  flex-direction: column-reverse;
}

.display-scores-title,
.add-scores-title {
  font-family: 'Lucida Sans', sans-serif;
  font-size: larger;
  font-weight: 500;
}

.add-scores-title {
  margin-left: 25px;
}

.display-scores {
  width: 40%;
  margin: 0 50px;
}

.add-scores {
  margin: 0 50px 25px 25px;
}

.scores-title {
  display: flex;
  justify-content: space-between;
}

.scores-list {
  border: 2px solid black;
}

.scores-list-item {
  padding: 4px;
}

li:nth-child(odd) {
  background-color: #fff;
}

.add-scores-title {
  margin-bottom: 24px;
}

input {
  margin-bottom: 12px;
  padding-right: 0;
  height: 20px;
  width: 100%;
  border: 2px solid #000;
}

button {
  background-color: #fff;
  color: navy;
}

button:hover {
  background-color: navy;
  color: #fff;
}

.details {
  display: flex;
  justify-content: space-between;
}

.name,
.score {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: 700;
}

.name {
  padding-left: 20%;
}

.score {
  padding-right: 20%;
}

@media screen and (min-width: 600px) {
  .content {
    display: flex;
    flex-direction: row;
  }

  .add-scores {
    margin: 0 25px;
  }
}
